[submodule "Projects-No-Code/old-portafolio-nocode-egl-310"]
	path = Projects-No-Code/old-portafolio-nocode-egl-310
	url = https://github.com/pzg8794/old-portafolio-nocode-egl-310.git

[submodule "Projects-No-Code/old-portafolio-nocode-egl"]
	path = Projects-No-Code/old-portafolio-nocode-egl
	url = https://github.com/pzg8794/old-portafolio-nocode-egl.git

[submodule "Projects-No-Code/old-portafolio-nocode-egl-310-1"]
	path = Projects-No-Code/old-portafolio-nocode-egl-310-1
	url = https://github.com/pzg8794/old-portafolio-nocode-egl-310-1.git

[submodule "Projects-No-Code/old-portafolio-nocode-home-automation-power-control"]
	path = Projects-No-Code/old-portafolio-nocode-home-automation-power-control
	url = https://github.com/pzg8794/old-portafolio-nocode-home-automation-power-control.git

[submodule "Projects-No-Code/old-portafolio-nocode-history-west-world"]
	path = Projects-No-Code/old-portafolio-nocode-history-west-world
	url = https://github.com/pzg8794/old-portafolio-nocode-history-west-world.git

[submodule "Projects-No-Code/old-portafolio-nocode-math"]
	path = Projects-No-Code/old-portafolio-nocode-math
	url = https://github.com/pzg8794/old-portafolio-nocode-math.git

[submodule "Projects-No-Code/old-portafolio-nocode-calculus-i"]
	path = Projects-No-Code/old-portafolio-nocode-calculus-i
	url = https://github.com/pzg8794/old-portafolio-nocode-calculus-i.git

[submodule "Projects-No-Code/old-portafolio-nocode-calculus-ii"]
	path = Projects-No-Code/old-portafolio-nocode-calculus-ii
	url = https://github.com/pzg8794/old-portafolio-nocode-calculus-ii.git

[submodule "Projects-No-Code/old-portafolio-nocode-differential-equations"]
	path = Projects-No-Code/old-portafolio-nocode-differential-equations
	url = https://github.com/pzg8794/old-portafolio-nocode-differential-equations.git

[submodule "Projects-No-Code/old-portafolio-nocode-physics"]
	path = Projects-No-Code/old-portafolio-nocode-physics
	url = https://github.com/pzg8794/old-portafolio-nocode-physics.git

[submodule "Publications/old-portafolio-publications"]
	path = Publications/old-portafolio-publications
	url = https://github.com/pzg8794/old-portafolio-publications.git

[submodule "Resume-CV/CV_Piter-Garcia"]
	path = Resume-CV/CV_Piter-Garcia
	url = https://github.com/pzg8794/CV_Piter-Garcia.git

[submodule "Persona/old-portafolio-persona"]
	path = Persona/old-portafolio-persona
	url = https://github.com/pzg8794/old-portafolio-persona.git

[submodule "Persona/old-portafolio-bcs230-math3"]
	path = Persona/old-portafolio-bcs230-math3
	url = https://github.com/pzg8794/old-portafolio-bcs230-math3.git

[submodule "Work-Projects/old-portafolio-work-madchefkitchen"]
	path = Work-Projects/old-portafolio-work-madchefkitchen
	url = https://github.com/pzg8794/old-portafolio-work-madchefkitchen.git

[submodule "Work-Projects/old-portafolio-work-qualitrol-projects"]
	path = Work-Projects/old-portafolio-work-qualitrol-projects
	url = https://github.com/pzg8794/old-portafolio-work-qualitrol-projects.git

[submodule "Work-Projects/old-portafolio-work-tiburonlockers"]
	path = Work-Projects/old-portafolio-work-tiburonlockers
	url = https://github.com/pzg8794/old-portafolio-work-tiburonlockers.git

[submodule "Work-Projects/old-portafolio-work-trueinteraction"]
	path = Work-Projects/old-portafolio-work-trueinteraction
	url = https://github.com/pzg8794/old-portafolio-work-trueinteraction.git

[submodule "PHD/old-portafolio-phd"]
	path = PHD/old-portafolio-phd
	url = https://github.com/pzg8794/old-portafolio-phd.git

[submodule "Projects-Code/opc-3dpong"]
	path = Projects-Code/opc-3dpong
	url = https://github.com/pzg8794/opc-3dpong.git

[submodule "Projects-Code/opc-algo"]
	path = Projects-Code/opc-algo
	url = https://github.com/pzg8794/opc-algo.git

[submodule "Projects-Code/opc-apgv"]
	path = Projects-Code/opc-apgv
	url = https://github.com/pzg8794/opc-apgv.git

[submodule "Projects-Code/opc-computer-graphics"]
	path = Projects-Code/opc-computer-graphics
	url = https://github.com/pzg8794/opc-computer-graphics.git

[submodule "Projects-Code/opc-cpp"]
	path = Projects-Code/opc-cpp
	url = https://github.com/pzg8794/opc-cpp.git

[submodule "Projects-Code/opc-cpp-oop"]
	path = Projects-Code/opc-cpp-oop
	url = https://github.com/pzg8794/opc-cpp-oop.git

[submodule "Projects-Code/opc-cryptography"]
	path = Projects-Code/opc-cryptography
	url = https://github.com/pzg8794/opc-cryptography.git

[submodule "Projects-Code/opc-csharp"]
	path = Projects-Code/opc-csharp
	url = https://github.com/pzg8794/opc-csharp.git

[submodule "Projects-Code/opc-data-mining"]
	path = Projects-Code/opc-data-mining
	url = https://github.com/pzg8794/opc-data-mining.git

[submodule "Projects-Code/opc-eets"]
	path = Projects-Code/opc-eets
	url = https://github.com/pzg8794/opc-eets.git

[submodule "Projects-Code/opc-eets-2"]
	path = Projects-Code/opc-eets-2
	url = https://github.com/pzg8794/opc-eets-2.git

[submodule "Projects-Code/opc-fct"]
	path = Projects-Code/opc-fct
	url = https://github.com/pzg8794/opc-fct.git

[submodule "Projects-Code/opc-final-bs-project"]
	path = Projects-Code/opc-final-bs-project
	url = https://github.com/pzg8794/opc-final-bs-project.git

[submodule "Projects-Code/opc-java-oop"]
	path = Projects-Code/opc-java-oop
	url = https://github.com/pzg8794/opc-java-oop.git

[submodule "Projects-Code/opc-klm"]
	path = Projects-Code/opc-klm
	url = https://github.com/pzg8794/opc-klm.git

[submodule "Projects-Code/opc-labs-undergrad"]
	path = Projects-Code/opc-labs-undergrad
	url = https://github.com/pzg8794/opc-labs-undergrad.git

[submodule "Projects-Code/opc-matlab"]
	path = Projects-Code/opc-matlab
	url = https://github.com/pzg8794/opc-matlab.git

[submodule "Projects-Code/opc-projects-workspace"]
	path = Projects-Code/opc-projects-workspace
	url = https://github.com/pzg8794/opc-projects-workspace.git

[submodule "Projects-Code/opc-python"]
	path = Projects-Code/opc-python
	url = https://github.com/pzg8794/opc-python.git

[submodule "Projects-Code/opc-senior-project"]
	path = Projects-Code/opc-senior-project
	url = https://github.com/pzg8794/opc-senior-project.git

[submodule "Projects-Code/opc-stuff"]
	path = Projects-Code/opc-stuff
	url = https://github.com/pzg8794/opc-stuff.git

[submodule "Projects-Code/opc-unix-programming"]
	path = Projects-Code/opc-unix-programming
	url = https://github.com/pzg8794/opc-unix-programming.git

[submodule "Projects-Code/opc-work-project"]
	path = Projects-Code/opc-work-project
	url = https://github.com/pzg8794/opc-work-project.git
